#addPost{
  padding-top:20px;
  .row{
    // .previousImage{
    //   overflow:hidden;
    //   width:512px;
    //   background-color: red;
    //   height:250px;
    //   img{
    //     width:100%;
    //   }
    // }
    // .cropFrame{
    //   display:none;
    // }
  }
  div.error{
    margin-top:20px;
    ul{
      margin:0;
      li{

      }
    }
  }
}
