#company-posts{
  h2{
    padding:15px 0;
    font-size:20px;
    font-weight: bold;
  }
  .col-md-12{
    background-color: white;
    padding:15px;
    border-bottom:5px solid $background-color;
    .h-post-image{
      img{
        width:100%;
        transition-duration: $img-anim-duration;
      }
      &:hover img{
        -moz-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
      }
    }
    .h-post-desc{
      a{
        text-decoration: none;
        color:$heading-color;
        font-weight: bold;
      }
      p{
        color:lighten($heading-color, 25%);
        margin-top:10px;
        font-size:13px;
      }
      i,span{
        font-size:13px;
        margin-top:10px;
      }
      span{

      }
    }
  }
}
