body{
  background-color: $background-color;
}
a,p,h1,h2,h3,h4,h5,h6,span,label,button,textarea{
  font-family: 'Lato', sans-serif;
}
h3{
  font-size:1.2em;
}
h4{
  font-size:1.3em;
  padding-bottom:$padding-vertical-in;
}
p{
  font-size: 0.9em;
  letter-spacing: 1px;
}
ul{
  font-family:'Lato',sans-serif;
}
input[type="text"],input[type="password"],input[type="submit"],input[type="email"]{
  font-family: 'Lato', sans-serif;
}
.button-custom{
  background-color:$primaryColor;
  color:white;
  padding:4px 8px;
  transition: all 0.4s ease;
  border-radius:2px;
  font-size: 0.9em;

  &:hover{
    text-decoration: none;
    color:white;
    background-color: $primaryColor3;
  }
}

.vertical-div{
  height:$padding-vertical-out;
  clear:both;
}


.green-border-bottom{
  border-bottom:4px solid $green;
}

.red-border-bottom{
  border-bottom:4px solid $red;
}

.add-reminder i{ // Item containing this class should be in relative position
  color:darkgray;
  cursor:pointer;
}

i.material-icons{
  vertical-align:bottom;
}

.border{
  height:1px;
  background: $background-color;
  margin:$padding-vertical-in 0;
}


.custom-badge{
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: super;
  background-color: lighten(#777,10%);
  border-radius: 10px;
}

.no-padding{
  padding:0 !important
}

.big-post, .small-post, #rightBarPosts .row ,.post-item{
  &:hover{
    .img-box{
       img{
        -moz-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
      }
    }
  }
}

.margin-top-div{
  height:120px;
  @media screen and (max-width: 995px) {
      height:75px;
  }
}

.alert{
  font-family: 'Tahoma';
  .bold{
    font-weight: bold;
  }
}

.pagination{
  margin:0 auto;
  a{
    color:$primaryColor !important;
  }
  .active{
    span{
      background-color: $primaryColor !important;
      border-color:$primaryColor !important;
    }
  }
}


html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#main-wrapper {
    box-sizing: border-box;
    min-height: 100%;
    padding: 0 0 210px;
    position: relative;
}

#footer {
    bottom: 0;
    height:210px;
    left: 0;
    position: absolute;
    width: 100%;
}

//Overlay in Login Ajax
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    opacity: 0.5;
    z-index: 2;
    display: none;
}

.hover-scale{
  transition: all 0.7s ease;
  &:hover{
  transform: scale(1.01,1.01);
  box-shadow: 13px 11px 47px -15px darken($background-color,30%) !important;
  }
  
}