#delete{
	div{
		padding:15px 30px;
		background-color:lighten($background-color, 2%);
		border:1px solid darken($background-color,10%);
		border-radius:3px;
		p{
			margin:10px 0;
		}
		a{
			background-color:#d9534f;
			border-color:#d43f3a;
			border-radius:2px;
			padding:10px 15px;
			color:white;
		}
	}
}