#editProfile{
    box-shadow: 1px 1px 3px 0px darken($background-color,10%);
    background: white;
    padding: 30px;
    .form-group:last-child{
      margin-bottom: 0px;
    }
    input,label{
      box-shadow: none !important;
      margin:5px 0;
    }
    .button-custom{
      width: 80px;
    }
    strong{
      color:#ef260f;
    }
    .coverCropper{
      padding:0 0 15px 5px;
    }
}
