
@font-face{
  font-family: Lato;
  src: url(../fonts/Lato/Lato-Light.ttf);
  font-weight: lighter;
}

@font-face{
  font-family: Lato;
  src: url(../fonts/Lato/Lato-Bold.ttf);
  font-weight: bold;
}

@font-face{
  font-family: Lato;
  src: url(../fonts/Lato/Lato-regular.ttf);
}
