.list{
	.list-post{

		padding:0;
		position:relative;
		box-shadow: 1px 1px 3px 0px darken($background-color,10%);
		background:white;			
		.img-box{
			overflow:hidden;	
			float:left;
			padding:0;
			img{
				width:258px;
				height:120px;
				@media screen and (max-width: 767px) {
					width:344px;
					height:160px;
				}
			}
		}
		.post-info{
			min-height:120px;
			h1{
				font-size:1.1em;
				color:#262626;
				padding:20px 0;
				transition: all 0.4s ease;
				font-weight:bold;

			}
			ul{
								
				li{
			        opacity:.8;
			        padding-left:0;
			        transition-duration:.4s;
			        i{
			          font-size:0.9em;
			        }
			        span,a{
			          font-size:0.8em;
			        }
			        a{
			          i{
			            margin-right:4px;
			          }
			          text-decoration: none;
			          color:black;
			          transition:all 0.4s ease;
			          &:hover{
			          	color: $primaryColor;
			          }
			        }
			    }
			}
		}
		&:hover{
			h1{
				color:$primaryColor;

			}
		}
		
	}

	.list-company{
		padding:0;
		position:relative;
		box-shadow: 1px 1px 3px 0px darken($background-color,10%);
		background:white;
		
			
		img{
			float:left;
			padding-right:10px;
			height:120px;
			width:120px;
		}
		.company-info{
			height:120px;
			float:left;
			position:relative;
			padding: 25px;
			h1{
				font-size:1.2em;
				font-weight:bold;
				color:#262626;
				margin-bottom:20px;
				display:inline-block;

			}
			span{
				clear:both;
				font-size:1em;
			}
			
		}
		.buttons{
			position:absolute;
			top:25px;
			right:25px;
			
		}
		
	}

	
}