#author{
  .img-box{
    overflow:hidden;
    margin-bottom:20px;
    img{
      width:100%;
    }
  }
  a{
    color:$heading-color;
    h4{
      margin:0;
      padding:0;
    }
  }
  p{
    margin:0;
  }
  .button-custom{
    border:none;
    color:white;
    margin:20px 0;
    text-align: center;
  }

}
