#post{
  margin-bottom:30px;
  .col-md-8{
    padding-left:0;
    @media screen and (max-width: 960px) {
      margin-left: 15px;
    }
    .single-post{
      background-color: white;
      padding-bottom: 10px;

      div{
        padding:0 $padding-vertical-in; // all divs except .single-post-image
      }
      .single-post-image{
        padding: 0;
        img{
          max-width:100%;
        }
      }
      .single-post-desc{
        padding-bottom:15px;
        h2{
          font-size:25px;
          line-height: 35px;
        }
        ul{
          padding-top:5px;
          li{
            i{
              font-size:13px;
              color:darken(lightgray,10%);
            }
            span{
              font-size:13px;
              color:$heading-color;
              color:darken(lightgray,10%);
            }
            a{
              text-decoration: none;
              color:$heading-color;
              font-size:13px;
              color:darken(lightgray,10%);
              i{
                margin-right: 4px;
              }
              &:hover{
              color:darken(lightgray,40%);
              }
            }
          }
        }
      }
      .single-post-body{
        padding-bottom:10px;
        p{
          padding:8px 0;
          margin-bottom:20px;
          font-family:'Open Sans', sans-serif;
          line-height: 1.8;
        }

        #deadline{
          color:#C31926;
          font-weight: bold;
          font-size: 1em;
          display: inline-block;
          i{
            vertical-align: sub;
          }
        }
      }
      .single-post-extra{
        font-size:12px;
        padding-bottom:15px;
        ul.tags{
          margin-top:15px;
          li{
            padding-left: 0;
            a{
              font-size: 1.1em;
              background-color: darken($background-color,20%);
              padding:5px 6px;
              color:white;
              border-radius: 2px;
              text-decoration: none;
              transition: all 0.3s ease;
            }
            &:hover a{
              background-color:darken($background-color,35%);
            }
          }
        }
      }
    }
    .company-posts{

    }
  }
  .col-md-4{
  }
  .buttons{
    padding:10px 15px;
    //box-shadow: 1px 1px 3px 0px darken($background-color,10%);
    //background-color: white;
    margin:10px 0;
    a{
      //padding:7px 10px;
      font-size: 1em;
      //background-color: darken($background-color, 30%);
      i{
        vertical-align: sub;
        margin-top:5px;
       //padding-top:20px;
      }
    }
  }
}
