#category, #company{
  font-family: Lato;
  .col-md-12{
    padding:20px 15px;
    h2{
      font-size:30px;
    }
  }
  .col-md-4, .col-md-6{
    padding:$padding-vertical-in;
    .post-item{
      //height:335px;
      position:relative;
      background-color: white;
      padding:$padding-vertical-in;
      -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
      -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
      box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
      box-shadow: 1px 1px 3px 0px darken($background-color,10%);
      .img-box{
        width:100%;
        max-height:165px;
        position: relative;
        overflow:hidden;
        .post-item-actions{
          padding-top:65px;
          width:100%;
          height: 165px;
          position: relative;
          background-color: white;
          ul{
            text-align:center;
            li{
              cursor:pointer;
            }
          }
        }
        img{
          top:0px;
          position: relative;
          //min-height: 165px;
          //max-width:100%;
          width:100%;
          transition-duration: $img-anim-duration;
        }
      }
      .post-item-desc{
        padding:15px 0 30px 0;
        a{
          text-decoration: none;
          font-size:16px;
          line-height: 22px;
        }
      }
      .post-item-details{
        position:absolute;
        bottom:10px;
        left:15px;
        li{
          opacity:.5;
          transition-duration:.4s;
          i{
            font-size:16px;
          }
          span,a{
            font-size:12px;
          }
          a{
            i{
              margin-right:4px;
            }
            text-decoration: none;
            color:black;
          }
        }
        li:hover{
          opacity:1;
        }
      }
    }
  }
}
//
// @media (max-width:992px){
// #category{
//   .post-item{
//     height:auto;
//   }
// }
// }
