#reminder-form,#success{
  position: fixed;
  padding:40px;
  background:white;
  text-align: center;
  top:100px;
  opacity: 1 !important;
  z-index:3;
  display: none;
  h1{
    font-size:1.9em;
    margin:20px;
    font-weight: lighter;
  }
  input{
    margin:20px 0;
  }
  button{
    background: $primaryColor;
    color:white;
    &:hover{
    background:  $primaryColor3
    }
  }
  p{
    padding-left:0;
    font-size:1em;
  }
  i{
    color:#5cb85c;
    vertical-align: sub;
    padding-right:5px;
  }
}

