$primaryColor: #03A9F4;
$primaryColor2: #0277BD;
$primaryColor3: #0288D1;
$primaryColor4: #B3E5FC;

$secondaryColor: #FF8A80;
$secondaryColor2: #D50000;

$green: #4CAF50;
$red: #F44336;

$background-color:#EEF1F4;
//$background-color:#F7F5F2;
//$background-color:#F7F8FA;

$padding-vertical-out:30px;
$padding-vertical-in:15px;

$heading-color:#263241;

$footer-color:#222222;

$img-anim-duration: 0.4s;
